/***********************************************************************************************************************
************** breadcrumbs
***********************************************************************************************************************/

.breadcrumbs {
  background: #f3f5f6;
  padding: 20px 0;

  ul {

    li {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;

      a {
        font-size: inherit;
        color: #858f92;
        line-height: inherit;

        &:hover {
          color: #000;
        }

      }

      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 5px;
        height: 8px;
        background: url(../images/icon-angle-right.png) no-repeat 0 0;
        margin: 0 5px 0 8px;
      }

      &:last-child:after {
        display: none;
      }

    }

  }

}